body {
margin: 0px;
font-family:  sans-serif;
background-color: whitesmoke; 
}

#header {
display: flex;
margin-top: 0;
width: 100%;
}

#header-img {
height: 5em;
width: 12em;
padding: 20px 0px 20px 10px;
}

h1 {
width: auto; 
color: orange;
padding: 20px;
}

ul {
width: 45vw;
display: flex;
justify-content: space-around;}

li {
list-style-type: none;
font-size: 20px;
}

.nav-link {
text-decoration-line: none;
color: black;
} 

div {
    text-align: center;

}

#form {
   margin: 20px;
   text-align: center;
}




